body {
    font-family: 'Source Code Pro', monospace;
    color: $color-light;
}

h1, h2, h3, h4, h5 ,h6 {
    color: $color-main;
    font-weight: $weight-bold;
}

.headline-0 {
    font-size: toRem(getUnit(12));
    @include breakpoint(large) {
        font-size: toRem(getUnit(16));
    }
}

.headline-1 {
    font-size: toRem(getUnit(10));
    @include breakpoint(large) {
        font-size: toRem(getUnit(12));
    }
}

.headline-2 {
    font-size: toRem(getUnit(8));
    @include breakpoint(large) {
        font-size: toRem(getUnit(8));
    }
}
